@model DataBaseFirstApprochEF.Models.student

@{
    ViewBag.Title = "Details";
}

@*DATABASE-FIRST APPROACH OF ENTITY FRAMEWORK IN ASP.NET MVC 5
•	In the database-first approach the Entity Framework creates model classes and properties corresponding to the existing database objects, such as tables and columns.
•	The database-first approach is applicable in scenario where a database already exists for the application.*@

<h2>Details</h2>

<div>
    <h4>student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.standard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.standard)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
